@charset "utf-8";

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-image: linear-gradient(to right,#B0A7A8, #E2DDDA ,#EDEAF1 );
}
#container{
	margin: 300px auto 0px auto;
	padding: 25px;
	width: 300px;
	text-align: center;
	border: 1px solid black;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	color:white;
}
h1{
	font-size: 3em;
}
